.services-menu {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.services-menu .menu-item {
    font-weight: 600;
    font-size: 15px;
    min-width: 200px;

    color: rgba(255, 255, 255, 0.5);
    background: #071928;
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

    /* transition: 0.3s; */
}

.services-menu .menu-item.active {
    background: #ff6dd1;
    color: rgba(255, 255, 255, 1);
}

.services-menu .menu-item.active:hover {
    background: #ff6dd1;
}

.services-menu .menu-item:hover {
    background: #aa2ee6;
}