.web-projects,
.ui-projects,
.logo-projects,
.video-projects,
.thumb-projects {
  padding: 0 80px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services h2 {
  /* margin-bottom: 0; */
  margin: 100px 0 30px;
}

.services p {
  width: 800px;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.5;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 50px;
}

.cards-container {
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  height: 300px;
  width: 500px;
  border-radius: 15px;
  background-color: white;
  margin: 20px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-close {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  background-color: white;
  color: #ff6dd1;
  font-weight: bold;
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 4px 4px 10px black;
}
.modal img {
  border-radius: 15px;
  max-height: 70vh;
  /* width: 70vw; */
}


.webcard {
  width: 500px;
  margin: 20px;
  padding: 20px;
  background-color: #0B1927;
  border-radius: 15px;
}

.webcard .web-image {
  width: 460px;
  background-color: white;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  height: 300px;
}

.webcard h3 {
  margin: 20px 0;
  text-align: left;
}

.webcard p {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.5;
  margin: 0 0 30px 0;
  padding: 0;
  width: 450px;
  text-align: left;
}




/* Media queries */

@media (max-width:600px) {
  .web-projects,
  .ui-projects,
  .logo-projects,
  .video-projects,
  .thumb-projects {
    padding: 0 30px 100px;
  }

  .services p, .webcard, .webcard .web-image, .card {
    width: 100%;
  }

  .webcard {
    margin: 0;
  }

  .webcard .web-image, .card {
    height: 180px;
  }
}