.about-main-section {
  flex-direction: column;
  align-items: center;
  padding: 80px 80px 100px;
}

.about-main-section p {
  width: 800px;
  font-weight: 600;
  font-size: 15px;
  opacity: 0.5;
  margin: 50px 0;
  text-align: center;
}

/* Media queries */

@media only screen and (max-width: 868px) and (min-width: 600px ) {
  .about-main-section p {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .about-main-section {
    padding: 30px 30px 100px;
  }

  .about-main-section p {
    width: 100%;
  }
}
