.ourwork {
  padding: 80px 80px 100px;
}

.ourwork button {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.work-container {
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

.ourworkcard {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 15px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}

.ourworkcard:hover {
  cursor: pointer;
}

/* Media queries */

@media only screen and (max-width: 869px) and (min-width: 600px) {
  .work-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ourwork {
    padding: 30px 30px 100px;
  }
}
