body {
  background-color: #041220;
  color: white;
}

.projects-hero,
.gallery-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 50px;
}

.heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  text-align: center;

  color: #ffffff;

  margin-bottom: 100px;
}

.services-menu {
  display: flex;
}

.services-menu .menu-item {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
  background: #071928;
  padding: 20px 50px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;

  transition: 0.3s;
}

.services-menu .menu-item.active {
  background: #ff6dd1;
}

.services-menu .menu-item.active:hover {
  background: #ff6dd1;
}

.services-menu .menu-item:hover {
  background: #aa2ee6;
}

.gallery-hero .heading {
  margin: 0px;
}

.subheading {
  font-weight: 700;
  font-size: 22px;
  line-height: 45px;

  max-width: 750px;
  text-align: center;

  color: rgba(255, 255, 255, 0.5);
}

.project-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px 100px;
}

.project-gallery .gallery-card {
  height: 400px;
  width: 400px;
  background: #0b1927;
  border-radius: 10px;
  /* background-image: url(); */
  background-size: cover;
  background-position: center;
}

.pricing {
  padding: 70px;
}

.pricing .heading {
  margin-bottom: 50px;
}

.pricing-cards-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.pricing-card {
  height: 500px;
  width: 400px;
  border-radius: 10px;
  background: #0b1927;
}
