.testimonials {
  padding: 80px 80px 100px;
}

.testimonials-container {
  justify-content: space-between;
  margin-top: 50px;
}

.testimonials .arrow {
  padding: 0 30px;
  justify-content: center;
  align-items: center;
}

.testimonials .arrow:hover {
  cursor: pointer;
}

.testimonials .arrow img {
  height: 30px;
}

.testimonial-card {
  background-color: #0b1927;
  border-radius: 15px;
  padding: 50px 80px;
  width: fit-content;
  align-items: center;
}

.testimonial-card .client-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  margin-right: 80px;
  background-size: cover;
}

.testimonial-card p {
  width: 400px;
  font-weight: 500;
  font-size: 15px;
  opacity: 0.5;
}

.testimonial-card .client {
  opacity: 1;
  font-weight: 500;
  font-size: 15px;
  margin-top: 30px;
}

/* Media queries */

@media only screen and (max-width: 869px) and (min-width: 600px) {
  .testimonials {
    padding: 100px 20px 100px;
  }
  .testimonial-card {
    flex-direction: column;
    gap: 2rem;
  }
  .testimonial-card .client-image {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .testimonials {
    padding: 100px 20px 100px;
  }

  .testimonials .arrow {
    padding: 0 10px;
  }

  .testimonial-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 25px;
    text-align: center;
  }

  .testimonial-card .client-image {
    margin: 0 0 30px 0;
  }

  .testimonial-card p {
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    opacity: 0.5;
  }
}
