.navbar {
  padding: 30px 80px;
  align-items: center;
  justify-content: space-between;
}

.navbar div {
  align-items: center;
}

.logo {
  font-weight: 700;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  height: 35px;
  margin-right: 20px;
}

.navlinks li,
.navlinks a {
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
}

.navlinks li:hover {
  cursor: pointer;
}

.nav-icon {
  display: none;
}

.navlinks.hidden {
  position: absolute;
  top: -500px;
  left: 0;
  right: 0;
}

/* Media queries */

@media only screen and (max-width: 869px) and (min-width: 600px) {
  .navlinks a {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 30px 30px;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    font-size: 14px;
    font-weight: 700;
  }

  .logo img {
    height: 25px;
    margin-right: 15px;
  }

  .navlinks {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 100px 0 25px 0;
    background-color: rgba(0, 0, 0, 0.8);

    transition: all 0.5s;
  }

  .navlinks li {
    margin-left: 0;
    line-height: 50px;
    font-size: 16px;
  }

  .navlinks a {
    margin: 0;
  }

  .navbar > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav-icon {
    display: block;
    z-index: 1;
  }
}
