* {
  box-sizing: border-box;
  text-decoration: none;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.flex {
  display: flex;
}

.primary-btn {
  min-width: 200px;
  height: 50px;
  background-color: #3700B1;
  color: white;
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.primary-btn:hover {
  cursor: pointer;
}
