.servicesection {
    padding: 80px 80px 100px;
}

.services-container {
    flex-wrap: wrap;
    justify-content: center;
}


/* Media queries */

@media (max-width:600px) {
    .servicesection {
        padding: 30px 30px 100px;
    }
}