.services-card {
    height: 400px;
    width: 300px;
    background-color: #0B1927;
    border-radius: 15px;
    margin: 20px;
    padding: 40px 20px;
}

.services-card img {
    height: 30px;
}

.services-card p {
    font-size: 13px;
    opacity: 0.5;
    font-weight: 600;
    height: 160px;
}